#About{
    height:auto; 
}
.cards{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto;
    padding:2% 2%;
    margin:auto;
    height:auto;
}
.card{
    margin:auto;
    padding:auto;
}
.CardTitle{
    color:white;
}
.CardInfo{
    display:none;
    opacity:0;
}
.CInfoBtn{
    margin:auto;
    text-align:center;
}
#Technology{
    background-image:url('https://media3.giphy.com/media/wfV2vfLPuCk45AAEFN/giphy.gif?cid=790b761122b96be01235dd7bcf023410c4139bf12535a199&rid=giphy.gif&ct=g');
}
#Development{
    background-image:url('https://media2.giphy.com/media/vEI90Lk9hM03oShQeB/giphy.gif?cid=790b7611ad19481c79ab199adb1b7cde0605f9b82a37cb3d&rid=giphy.gif&ct=g');
    background-size:100% 100%;
}
#Blockchain{
    background-image:url('https://media4.giphy.com/media/EWk25tFNCgqlV7yh1I/giphy.gif?cid=790b7611ec064c883eef51f486f8f3d56a50f7a1f979af07&rid=giphy.gif&ct=g');
}
#Esports{
    background-image:url('https://media1.giphy.com/media/1X2OPnpRB44zhXxP3Z/giphy.gif?cid=790b7611a38af9c39223ce16f60f43d643c680baaa8b394f&rid=giphy.gif&ct=g');
}
.card div{
    width:300px;
    height:200px;
    margin:auto;
    border:2px solid;
    text-align:center;
    justify-content:center;
    transition:0.5s;
    font-family:Arial;
}
                /*Styles generales*/
.card div:nth-child(1){
    display:flex;
    position:relative;
    transform:translateY(50%);
}
.card div:nth-child(2){
    backdrop-filter: blur(5px);
    display:flex;
    position:relative;
    z-index:10;
    transform:translateY(-50%);
    align-items:center;
}
.card:hover div:nth-child(2){
    background-color:rgb(238, 204, 204);
    transition:0.5s;
}
                    /*Hovering*/
/*.card:hover div:nth-child(2){
    transform:translateY(0);
    background-color:white;
    transition: 0.5s;
}
.card:hover div:nth-child(1){
    transform:translateY(0);
    background-color: white;
    transition: 0.5s;
}*/
.card:hover .CardTitle{
    opacity:0;
    display:none;
    transition:1s;
}
.card:hover .CardInfo{
    color:black;
    display:flex;
    opacity:1;
}


@media all and (max-width:1400px){
    
}

@media all and (max-width:1050px) {
    #About{
        height:200vh;
    }
    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
@media all and (max-height:800px) {
    

}